# Среда разработки
.vscode/
.idea/
*.iml

# Файлы окружения Python
venv/
.env
.env.*

# Файлы кэша Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Логи
*.log
*.out
*.err

# Компилированные файлы C
*.so

# Файлы баз данных
*.sqlite3

# Виртуальные окружения
.Python
pip-log.txt
pip-delete-this-directory.txt

# Тестовые отчёты
htmlcov/
.tox/
.nox/
*.coverage
.cache
coverage.xml
*.cover
.hypothesis/

# MyPy и другие проверки
.mypy_cache/
.pytest_cache/
.dmypy.json
dmypy.json

# Allure отчёты
allure-results/
allure-report/

# Файлы зависимостей
poetry.lock
Pipfile.lock

# Docker и CI/CD
docker-compose.override.yml
*.env

reports/
allure-results/
allure-report/

venv/

.idea/
*.iml

.vscode/